
<style>
    

</style>


<a class="gold"href="/Home/Way">
    <h3 class="hh" style="        font-family: 'Fredericka the Great', cursive;
        text-align: center; font-size:40px; margin-top:70px">
        My  way as designer
    </h3>

</a>
<p  style="font-family: 'Caveat', cursive; font-size: 30px ">
   Мой путь, как дизайнера начался в 2020 году. Точнее я и до этого изучала и что-то пыталась делать. 
    Но именно в 20-м году я получила свою первую работу. Мне нужно было придумать дизайн визитки. 
    Конечно же я очень обрадовалась и сразу же принялась за работу. Моя неопытность... Я не учла, то что 
    типография обрезает края: по 4 мм с каждой стороны. Ну что ж поделать пришлось переделывать и добавлять 
    лишние 4мм. За свою первую работу я получила 5К тенге, для меня это была большая радость. И это меня вдохновило.
    Я сидела по 3 часа в бибиотеке и читала книги про дизайн, сочетания цветов, мне было интерессно. Я прочитала 2 книги
    за неделю. Марина - мой вдохновитель и первый мой заказчик, похвалила и была очень довольна моей работой. 
    
</p>
